<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TOF mall 会说话的生活超市</title>
  </head>
  <body>
    <style>
    .child-view {
      /*position: absolute;*/
      transition: all .2s cubic-bezier(.1,0,.1,1);
    }



    /*（用户中心）新进的那个↓*/
    .slide-user-enter{
      opacity: 0;
                        /*translate(【+往右滑，-往左滑】，【+上升，-下降】)*/
      -webkit-transform: translate(20px, 0px);
    }
    /*离开的那个↓*/
    .slide-user-leave-active{
      opacity: 0;
      -webkit-transform: translate(20px, 0px);
    }
    </style>

    <div id="app">
        <transition name="slide-user" mode="out-in">
           <router-view class="child-view" v-if="!$route.meta.keepAlive"></router-view>
        </transition>

        <transition name="slide-user" mode="out-in">
          <keep-alive>
            <router-view class="child-view" v-if="$route.meta.keepAlive"></router-view>
          </keep-alive>
        </transition>
    </div>


  </body>
</html>
